build
results
*bin
*.a
*.out
*.o
*.pyc
*_bin
*html
*xml
docs/out
PIPE

.cache
.DS_store
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
*_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
